.App {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.BodyContainer {
  width: 1000px;
  padding: 75px;
  background-color: white;
}

.HeaderContainer {
  margin-bottom: 50px;
}

.ContentContainer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .App {
    align-items: center;
  }
  .ContentContainer {
    flex-direction: column;
    align-items: center;
  }
}